<!DOCTYPE html>

<html lang="ro">
<head>
    <title> BarcaOnline </title>
    <meta name="keywords" content="magazin, barca, barci, navigare, barca cu motor, barca gonflabila, yachturi, barci de viteza, ambarcatiuni nautice, skijeturi, barci cu motor, barci gonflabile">
    <meta name="description" content="Magazinul online numarul 1 pentru achizionare de barci. Aici oferim barci de viteza, barci cu motor, barci gonflabile, yachturi si skijeturi. Spor la navigare!" >
    <%- include("../fragmente/head.ejs");%>
</head>

<body>

<%- include("../fragmente/header.ejs");%>

<main>

   <h1>Despre</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et rutrum lacus, tincidunt dignissim enim. Morbi id accumsan sem, nec feugiat nulla. Donec orci mi, mollis at blandit vitae, volutpat non est. Donec at justo lorem. Curabitur tincidunt tincidunt semper. Phasellus at erat et massa lacinia feugiat id a velit. Phasellus sollicitudin sapien vel felis vulputate, id maximus lectus condimentum. Donec vitae massa at massa dictum hendrerit a et dui.</p>

</main>

<%- include("../fragmente/footer.ejs");%>
</body>
</html>