<footer>
<section id="orar">
    <h2> Orar </h2>
    <p> Deschis de Luni-Vineri: 09:00 - 18:00 Sambata 09:00 - 16:00 </p>
</section>

<section id ="contact">
    <a href="https://www.termsandconditionsgenerator.com/live.php?token=PUSo6TmhbArdPUFTn6mbIArtBNSJdsPP">Termeni si conditii</a>
    <h2> Contact </h2>
    <address>
        Numar telefon <a href="tel:+40777111777">+40777111777</a> <br/>
        Email <a href="mailto:barci_online@fictiv.com">barci_online@fictiv.com</a><br/>
        Locatie <a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Informatics+-+University+of+Bucharest/@44.4355355,26.0995867,15z/data=!4m2!3m1!1s0x0:0x493984726f0235f9?sa=X&ved=2ahUKEwirwfiK4Yv2AhWOQ_EDHbb9D4AQ_BJ6BAg7EAU">Strada Academiei 14, București 010014</a><br/>
        Contactati-ne pe whatsapp <a href="https://api.whatsapp.com/send?phone=+40777111777">aici</a>
    </address>
</section>

<a href="#" id="buton" title="Inapoi sus"> <div id="sageata">&#129081;</div> </a>
<p> <small> Copyright &copy; Stan Catalin Andrei <time datetime="2022-02-18"> 18 februarie 2022 </time> </small></p>
    <div id="aici_banner"> <p id="banner"> Acesta este un proiect scolar. Acceptati cookie-urile de pe site? <button id="ok_ccokies"> OK </button></p></div>
</footer>

